Repository nuxt-community/auth-module, pull requests merged in 2019-05, with the labels that each got.

#354 docs: fix $storage.setLocalstorage
  docs/api/storage.md
Labels: docs

#351 docs: fix modules value from object to array
  docs/recipes/extend.md
Labels: docs

#327 docs: correct code formatting
  docs/options.md
Labels: docs

#300 docs: clarify Cookie Login flow config differences
  docs/schemes/local.md
Labels: docs

#320 docs: fix onError example
  docs/api/auth.md
Labels: docs

#346 fix(local): prevent `loggedIn` being incorrectly set to true when user is disabled
  lib/schemes/local.js
Labels: Fix

#193 fix: preserve query params when redirect
  lib/core/auth.js
Labels: Fix

#298 feat: generate nounce for `id_token` response type
  lib/schemes/oauth2.js
  package.json
  yarn.lock
Labels: Fix, Security

#360 feat: improve storage
  lib/core/storage.js
  lib/core/utilities.js
Labels: WIP
